parameters:
    level: 8

    paths:
        - res/
        - src/
        - tests/

    # this is required because of our generic interface StepExecutor that we use w/o specifying a concrete subtype,
    # e.g. in UpgradeRunner
    checkGenericClassInNonGenericObjectType: false
